configuration {
    modi: "drun,run,window";
    show-icons: true;
    terminal: "alacritty";
    font: "JetBrainsMono Nerd Font 13";
    matching: "fuzzy";
    sort: true;
    cycle: true;
}

@theme "gruvbox"
